  <div class="grid-wrapper">
    <div class = "grid-square brown1">&nbsp;</div>
    <div class = "grid-square brown2">&nbsp;</div>
    <div class = "grid-square blue1">&nbsp;</div>
    <div class = "grid-square">&nbsp;</div>
    <div class = "grid-square">&nbsp;</div>
    <div class = "grid-square">&nbsp;</div>
  </div>
